$color1: #d1d7e0;
$color2: #564f6f;
$color3: #802bb1;
$color4: #2d283e;
$color5: #4c495d;
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 !important;
}
a {
  cursor: pointer;
}
#main {
  margin: 0;
  left: 0;
}

::-webkit-scrollbar {
  // width: 10px;
  display: none;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 2vw;
  color: $color1;

  padding-left: 98vw;
  padding-top: 5px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}
#overlay {
  top: calc(100vh - 2vw);
}
#overlay2 {
  top: 10vw;
}

.header {
  height: 10vw;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: $color1;
  box-shadow: 5px 0px 10px 0px #888888;
  display: flex;
  flex-direction: row;
}
.logo {
  width: 19.5%;
  height: 100%;
  background-color: $color4;
  z-index: 2;
}
.logo img {
  padding: 1vw;
  max-width: 80%;
}
.head-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.head-info {
  overflow-y: scroll;
  height: 40%;
  background-color: $color3;
  box-shadow: 0px 0px 20px 0px #888888;
}
.head-nav {
  height: 60%;
}

ul {
  display: inline-flex;
}
.contact {
  padding-right: 5%;
  float: right;
}
.contact a {
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-left: 0.8vw;
  font-size: 1.5vw;
  padding-left: 3.2vw;
  color: white;
  width: auto;
  border-right: none;
  border-left: 2px dotted $color1;
}

// social media
.fa {
  font-size: 1.5vw !important;
  height: 80%;
  text-align: center;
  text-decoration: none;
  padding-top: 1.2vw;
  border-right: 1px dotted $color1;
  border-radius: 40%;
  transition: 0.6s;
  background: none;
  color: white;
  width: 4%;
}
.con {
  height: 60%;
  margin-top: -2px;
  //padding-top: 1.2vw !important;
}

.fa:hover {
  color: $color4;
}
.fa-phone {
  border: none;
}

// head nav code
.headNav-item li {
  padding: 2vw;
  cursor: pointer;
  text-align: center;
  padding-top: 1.2vw;
}
.headNav-item li:hover {
  background-color: $color3;
  color: $color1;
}
.headNav-item {
  transition: 0.5s;
  font-size: 1.5vw;
}
.headNav-div {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  float: right;
  width: 50%;
  height: 100%;
}
#navBut {
  background-color: $color4;
  float: right;
  width: 15%;
  height: 6vw;
  font-size: 4vw;
  color: $color3;
  cursor: pointer;
  text-align: center;
  z-index: 2;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5vw;
}
#navBut:hover {
  color: $color1;
}
.navLogo {
  background-image: url(../images/logo.png);
  background-size: 100%;
  width: 15vw;
  height: 3vw;
  padding: 2%;
  margin: 2%;
}
.sidenav a {
  padding: 0.7vw 0.7vw 0.7vw 2.8vw;
  text-decoration: none;
  font-size: 2.5vw;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-top: 5%;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 2vw;
  font-size: 3vw;
  margin-left: 4vw;
}

@media screen and (max-height: 600px) {
  .sidenav {
    padding-top: 1vw;
  }
  .sidenav a {
    font-size: 1.5vw;
  }
  #contEm {
    height: 1000px;
  }
}

///////////////////////////////
